<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>htmlbook.ru | Для тех, кто делает сайты</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="#"><img src="images/logo.png" alt="htmlbook.ru" class="logo"></a>
      <div>
        <ul class="topmenu">
          <li class="show"><a href="#"><i class="icon icon-main"></i><br>Основное</a></li>
          <li><a href="#"><i class="icon"></i><br>HTML</a></li>
          <li><a href="#"><i class="icon icon-css"></i><br>CSS</a></li>
          <li><a href="#"><i class="icon icon-site"></i><br>Сайт</a></li>
        </ul>
        <div class="tile">
          <ul>
            <li><a href="#">Статьи</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Практикум</a></li>
            <li><a href="#">Тесты</a></li>
            <li><a href="#">Форум</a></li>
          </ul>
        </div>
      </div>
      <form class="search_box">
        <input class="search_site" name="search_site" placeholder="Поиск по сайту" type="text">
        <input src="images/find.png" alt="Найти" class="find" type="image">
      </form>
    </div>
    <div class="content">